.support {
    margin-top: 78px;
    min-height: 140px;
    padding: 0 15px 37px 15px;
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #9C9C9C;
        text-align: center;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}