$color-yellow: #EC994B;
$color-dark: #222224;

$promo-bg: url(../img/promo-img.jpg);

$comments-bg-slide-one: url(../img/comment-food-l.png);
$comments-bg-slide-two: url(../img/comment-food-l.png);
$comments-bg-slide-three: url(../img/comment-food-l.png);
$comments-bg-slide-four: url(../img/comment-food-l.png);
$comments-bg-slide-five: url(../img/comment-food-l.png);
$comments-bg-slide-six: url(../img/comment-food-l.png);

$about-us-bg: url(../img/girl-n-pizza.jpg);

$discount-bg: url(../img/discount-bg.jpg)